.container {
  display: flex;
  min-height: 100vh;
  background-color: #fdfcff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b6d2d4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.card {
  position: absolute;
  top: 120px;
  left: 50px;
  width: 320px;
  box-shadow: 1px 2px 20px #001b38;
  overflow: hidden;
  background-color: #fdfcff;
}
.nombres {
  font-size: 20px;
  color: #001b38;
  display: flex;
  justify-content: center;
  font-weight: lighter;
  padding-top: 15px;
}
.espacio {
  margin-right: 5px;
}
.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 85px;
}
.gps {
  width: 25px;
  height: auto;
}
.ciudad {
  font-size: 15px;
  color: #001b38;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.acerca {
  font-size: 20px;
  color: #001b38;
  padding: 5px 25px;
  font-weight: lighter;
  font-style: italic;
}
.descripcion {
  padding: 5px 25px;
  font-size: 15px;
  color: #0575e6;
  font-style: oblique;
}
.containerInfo {
  position: relative;
  margin-left: 450px;
  margin-top: 120px;
  width: 800px;
  margin-bottom: 300px;
  background-color: #ffffffc9;
  border-radius: 5px;
  padding: 40px;
}
.titulos {
  font-size: 25px;
  color: #001b38;
  font-weight: lighter;
}
.subtitulos {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.623);
  display: flex;
  justify-content: flex-end;
}
.contenido {
  font-size: 20px;
  font-weight: bold;
  color: #001b38;
  padding: 30px 10px;
}
.containerPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
} 
.width{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.paypal {
  width: 200px;
  display: flex;
  margin: auto;
  /* margin-right: 30px; */
  margin-top: 15px;
  font-size: 4em;
}
.valor {
  font-weight: lighter;
  margin: 5px;
  display: flex;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
  
}
.valor:last-child{
  color: #0575e6;
  font-weight: bold;
  font-size: 2.2rem;
}
.aclaracion{
  color: darkgray;
  font-weight: 500;
  text-align: center;
  font-size: 1.2rem;
}

.precio {
  font-weight: bolder;
  margin: 5px;
  font-size: 2em;
}
.borderPrice {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.contratar {
  color: white;
  background-color: #0575e6;
  transition: 1s;
  width: 150px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px 5px ;
  border-radius: 10px;
}
.contratar:hover {
  background-color: white;
  color: #001b38;
  cursor: pointer;
}
.commentsBox {
  padding: 0px 75px;
}
.containerComments {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  padding: 15px;
}
.commentPersona {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #000b16cc;
  font-style: italic;
  font-weight: lighter;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardUi {
  margin: 25px;
  width: 200px;
}
.link {
  text-decoration: none;
}

.swal2-popup {
  height: 80%;
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 30%;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1.6rem !important;
}
.form {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.input {
  background: none;
  outline: 0px;
  resize: none;
  border: 1px solid #001b383e;
}
.btn {
  background: none;
  border: none;
  padding: 10px;
  color: #001b38;
  font-size: 15px;
}
.btn:hover {
  text-decoration: underline;
}
.paginate {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btnPaginate {
  margin: 0px 20px;
  background: none;
  border: 1px solid #001b3848;
  padding: 5px 10px;
  color: #001b38;
  font-size: 10px;
  transition: 1s;
}
.btnPaginate:hover {
  background-color: #001b38;
  color: white;
}
.respuesta {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  color: #00060c;
  font-weight: lighter;
  margin-top: 10px;
}
.figura {
  width: 25px;
  height: 15px;
  border-left: 2px solid #001b384a;
  border-bottom: 2px solid #001b384a;
  margin-right: 10px;
  margin-left: 10px;
}
.pregunta {
  font-size: 15px;
  font-weight: bold;
  color: #00060c;
}

.cardBox {
  box-sizing: content-box;
  overflow: hidden;
  display: flex;
  margin: auto;
  align-items: center;
}

.check {
  display: flex;
  margin: auto;
  width: 150px;
  height: 150px;
}

.btndebe {
  font-weight: lighter;
  margin: 0px 20px;
  background: none;
  padding: 8px 15px;
  font-size: 15px;
  transition: 1s;
  border: 1px solid white;
  background-color: #0575e6;
  color: white;
}
.btndebe:hover {
  color: #001b38;
  border: 1px solid #001b3848;
  background-color: white;
}
.multimedia{
  width: 700px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}