.container{
    
    height: 100%;
    width: 80%;
    top: 50%;
    bottom: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 50px;
}

.filtro{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex:1;
    margin: 0px auto;
}

.label{
    color: wheat;
    font-size: 2rem;
    margin-bottom: 4px;
}

.select{
    height: 25px;
    width: 265px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
}




