.container{
    
    height: 100%;
    width: 80%;
    top: 50%;
    bottom: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 90px;
    margin-left: 1.3rem;
}

.filtro{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex:1;
    margin: 0px auto;
}

.label{
    color: whitesmoke;
    font-size: 2rem;
    margin-bottom: 4px;
    font-weight: 500;
}

.select{
    height: 25px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    outline: none; 
    background: #cbe7ff;
    color: rgb(105, 105, 105);
    min-height: 32px;
    cursor: pointer;
}





.btn{
    font-size: 1.4rem;
    display: flex;
    transform: translate(-50%, 50%);
    margin: auto;
    padding: 4px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    border-color: 1px 1px gray;
    width: 80px;
    text-align: center;
    padding-left: 15px;
    font-weight: 800;
}

.reset{
    position: absolute;
    margin-top: 10rem;
    width: 120px;
    padding-left: 100px;
}


