.container{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.appName{
    color: white;
    font-size: 20px;
    margin: 1%;
}
.list{
    display: flex;
    flex-direction: row;
    margin: 1%;
}
.listItem{
    list-style: none;
    font-size: 10px;
    margin: 17px;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    padding: 5px 10px 5px 10px;
}
.input{
    background: scroll;
}