.container{
    background-color: #00000012;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ffff' fill-opacity='100'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-top: 120px;
    padding-bottom: 60px;
}
.containerChat{
    background-color: #0576e69a;
    padding: 20px;
    border: 3px solid #ffffff ;
    border-radius: 15px;
    overflow: hidden;
}
.paper{
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 50vh;
}
.chat{
    margin-bottom: 15px;
}
.title{
    width: 100%;
    color: #002851;
}