/*estilos contenedores*/
.container{
    background-color: #0575E6;
    width: 100%;
    height: 100%;

}
.seccionLinks{
    background-color: #0575E6;
    height: 100vh;
    width: 15%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 60px;
}
.navItems{
    padding: 20px 0px;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    width: 100%;
    transition: 1s;
}
.navItems:hover{
    background-color: white;
    color: #0575E6;
}
.containerComp{
    margin-left: 15%;
}
.containerDash{
    padding-top: 70px;
    min-height: 100vh;
    background-color: white;
}
/*estilo titulo*/
.title{
    width: 100%;
    color: white;
    background-color: #0576e68a;
    font-size: 20px;
    text-align: center;
    padding: 5px 0px;
    font-weight: lighter;
    margin-bottom: 20px;
}
/*estilos de los mensajes*/
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    padding-top: 60px;
}
.bandeja{
    width: 100%;
    min-height: 100vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
.celdasMsj{
    padding: 5px;
    color: #001b38;
    font-size: 15px;
}
.celdaBtn{
    color: #0575E6;
    font-size: 25px;
    font-weight: bolder;
}
.tablecolBandeja{
    background-color: #001b38;
}
.importantText{
    background-color: #0575E6;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 280px;
}
/* estilos tabla*/
.containertable{
    padding: 20px;
}
.table{
    width: 100%;
}
.tablecol{
    background-color: #0576e6a9;
    color: white;
    padding: 10px;
}
.celdas{
    border-bottom: 1px solid  #0576e65b;
    padding: 5px;
}
/*dashboard*/
.typeContainer{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.type{
    font-size: 15px;
    color: #0576e6a9;
}
/*mensaje detalle*/
.containerReading{
    background-color: white;
    position: fixed;
    top: 80px;
    right: 2%;
    box-shadow:1px 2px 20px #001b38;
    width: 360px;
    padding-top: 30px;
}
.closeReading{
    position: fixed;
    top: 80px;
    right: 2%;
    width: 360px;
    background: none;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border: none;
    font-size: 10px;
    background-color: #001b38;
    color: white;
}
.contMsj{
    width: 100%;
    padding:10px;
}
.text{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 10px;
    background-color: #001b38;
    color: white;
    height: 20px;
    width: 300px;
}
.mail{
    font-size: 15px;
    padding: 5px;
    color: #001b38;
}
.textarea{
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    text-align: center;
}
.textarea::placeholder{
    color: #0576e6a9;
}
.btn{
    background-color: #001b38;
    color: white;
    border: 1px solid #001b38;
    font-size: 15px;
    width: 100%;
    transition: 1s;
    padding: 5px 0px;
    text-shadow: 0px 0px 10px white;
}
.btn:hover{
    background-color: white;
    color: #001b38;
    border: 1px solid white;
}
.readed{
    color:#001b384c;
}