.contenedor {
  background-color: #11539657;
  border-radius: 10px;
  border: 1px solid #000000;
  width: 600px;
  display: grid;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.section {
  display: grid;
  padding: 20px;
  margin-top: 10px;
}


.dato {
  font-size: 2em;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.title {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 3em;
  color: #000000;
  text-decoration: none;
  text-align: center;
  display: flex;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  overflow-wrap: normal;
}

.whatsapp {
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  text-align: justify;
  font-size: 1.5em;
}

.info {
  font-size: 1.9em;
  display: grid;
  justify-content: center;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.email {
  font-size: 1.5em;
  text-align: center;
  display: grid;
  justify-content: center;
  vertical-align: middle;
  font-family: "Nunito", sans-serif;
}

.icon {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.chatButton {
  font-weight: lighter;
  display: flex;
  margin: auto;
  margin-top: 15px;
  background: none;
  padding: 8px 15px;
  font-size: 15px;
  transition: 0.3s;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  color: 0575e6;
  text-decoration: none;
}

.chatButton link {
  text-decoration: none;
}

.chatButton:hover {
  color: #001b38;
  border: 1px solid #001b3848;
  background-color: rgb(12, 118, 25);
}
