.title {
  font-weight: 750;
  font-size: 2.6rem;
  color: #0575e6;
  margin-left: 20px;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-line: underline;
  background-color: whitesmoke;
  display: inline-block;
}

.whatsapp {
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
}

.dato {
  font-size: 1.9rem;

  font-weight: bold;
}
