.page {
  background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
  display: flex;
  height: 150vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.formCont {
  max-width: 900px;
  width: 100%;
  height: 900px;
  padding: 25px 30px;
  border-radius: 25px;
  background: white;
}

.cajaSelect {
  margin: 20px auto;
  border: 1px solid #000000;
  height: 30px;
  width: 230px;
  overflow: hidden;
  position: relative;
}

.formCont select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 230px;
  margin: auto;
}

.banner {
  width: 80%;
  margin-bottom: 300px;
  margin-left: 40px;
}

/* Campos */

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding: 0.7em;
  border: none;
  border-bottom: 1px solid #0576e6a9;
  outline: 0;
  color: #000;
  margin-bottom: 16px;
  font-size: 1.5em;
  margin: auto;
}

/* File select */

.file-select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}

.file-select::before {
  background-color: #0576e6a9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: "Seleccionar imagen";
  font-size: 16px;
  position: absolute;
  left: 10;
  right: 10;
  top: 0;
  bottom: 0;
  padding: 10px;
}

.file-select input[type="file"] {
  opacity: 0;
  height: 32px;
  display: inline-block;
  pointer-events: visible;
}

/* Imagen de usuario */

.userPic {
  height: 200px;
  width: 200px;
  border-radius: 350px;
  display: flex;
  margin: auto;
  margin-bottom: 30px;
}

/* Loader */

.loader {
  max-width: 100px;
  align-items: center;
  display: flex;
  margin: auto;
}

/* Botón de submit */

.submit {
  width: 100%;
  background: #0576e6a9;
  padding: 1em;
  color: white;
  margin: 16px;
  border: 0;
  text-transform: uppercase;
  font-size: 16px;
}

/* 
.formCont {
  background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.formCont img {
  width: 50%;
}

.userPic  {
  border-radius: 50px;
  border: 2px solid rgb(173, 173, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}

.form {
  width: 100%;
  align-items: center;
}

.registro {
  width: 40%;
  height: 70%;
  background: white;
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 5px 40px #000;
}

.registro h4 {
  font-size: 22px;
  margin-bottom: 30px;
  text-align: center;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #0576e6a9;
  font-size: 18px;
}

.registro p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.login {
  color: #1a2980;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
}



.submit {
  width: 100%;
  background: #0576e6a9;
  padding: 12px;
  color: white;
  margin: 16px 0;
  border: none;
  font-size: 16px;
}

.notSubmit {
  width: 100%;
  background: #838383a9;
  padding: 12px;
  color: rgb(0, 0, 0);
  margin: 16px 0;
  border: none;
  font-size: 16px;
} */
