.nav{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1583f198;
}
.logo{
    height: 40px;
    margin: 10px;
}
.boxItems{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.navItems{
    text-decoration: none;
    color: white;
}

@media only screen and (max-width:400px){
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:10px 0px;
    }
    .boxItems{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .navItems{
        font-size: small;
    }
}